#logo{
    animation: animate 3s infinite;
}

@keyframes animate {
	40% {
		opacity: 1;
	}
	42% {
		opacity: 0.8;
	}
	43% {
		opacity: 1;
	}
	45% {
		opacity: 0.3;
	}
	46% {
		opacity: 1;
	}
}

.codetantra{
	font-family: "Times New Roman", Times, serif;
	/* text-decoration: underline;
	text-decoration-color: #d4b201;
	text-decoration-thickness: 4px;
	text-underline-offset: 10px; */
}

@media (max-width: 500px) {
	#logo{
		padding: 0 20px;
	}
}